Repository InternationalScratchWiki/ScratchWikiSkin2, pull requests merged in 2018-06, with the labels that each got.

#24 Legal updates
  ScratchWikiSkinTemplate.php
  i18n/en.json
  i18n/qqq.json
Labels: design, enhancement, i18n, prnr

#25 Translate into JA
  i18n/ja.json
Labels: i18n, prnr

#30 Update Fr and Nl translations
  i18n/fr.json
  i18n/nl.json
Labels: i18n, prgtm

#31 Update zh translations
  i18n/zh-hans.json
  i18n/zh-hant.json
Labels: i18n, prgtm
